.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
}

.layout__main {
  flex: 1;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
